@charset "UTF-8";
a {
  color: #333;
  text-decoration: none; }
  a:hover {
    color: #666;
    text-decoration: underline; }

img {
  border: none; }

h1, h2, h3 {
  font-family: 'Cabin', arial, sans-serif; }

.sprite {
  display: block;
  background: transparent url("favicons.png?2") no-repeat;
  text-indent: -10000px;
  width: 16px;
  height: 16px; }

.coscup {
  background-position: 0 0;
  width: 16px;
  height: 16px; }

.newspaper {
  background-position: -18px 0;
  width: 16px;
  height: 16px; }

.twitter {
  background-position: -36px 0;
  width: 16px;
  height: 16px; }

.plurk {
  background-position: -54px 0;
  width: 16px;
  height: 16px; }

.facebook {
  background-position: -72px 0;
  width: 16px;
  height: 16px; }

.gcal {
  background-position: -90px 0;
  width: 16px;
  height: 16px; }

.flickr {
  background-position: -108px 0;
  width: 16px;
  height: 16px; }

.rss {
  background-position: -126px 0;
  width: 16px;
  height: 16px; }

.wordpress {
  background-position: -144px 0;
  width: 16px;
  height: 16px; }

@media handheld, screen and (max-width: 480px) {
  body {
    -moz-transition: 0;
    -webkit-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
    transition: 0;
    margin: 0 5px;
    padding: 0;
    font: 16px sans-serif;
    line-height: 22px;
    background: #f8f8f8; }

  #header, #footer {
    margin: 0 -5px;
    padding: 0;
    -moz-transition: 0;
    -webkit-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
    transition: 0; }

  #content {
    margin: 0;
    padding: 0;
    -moz-transition: 0;
    -webkit-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
    transition: 0;
    width: 100%;
    overflow: hidden;
    min-height: 140px; }
    #content a {
      color: #000;
      text-decoration: underline; }
      #content a:hover {
        color: #333; }
    #content pre {
      width: 100%;
      overflow: auto;
      background-color: #f0f0f0; }
    #content .alignleft, #content .alignright, #content .aligncenter, #content .fullwidth {
      width: 100%; }
    #content:before {
      position: absolute;
      top: -1px;
      height: 1px;
      content: '';
      background: rgba(255, 255, 255, 0.8) url("./loading.gif") center center no-repeat; }
    #content.loading {
      position: relative; }
      #content.loading > * {
        opacity: 0.3; }
      #content.loading:before {
        opacity: 1;
        top: 40px;
        left: 50%;
        z-index: 2;
        width: 60px;
        height: 60px;
        margin-left: -30px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; }
    #content > #sidebar2 {
      background-color: #c7d7a0;
      -moz-box-shadow: 0 0 5px #cccccc;
      -webkit-box-shadow: 0 0 5px #cccccc;
      -ms-box-shadow: 0 0 5px #cccccc;
      -o-box-shadow: 0 0 5px #cccccc;
      box-shadow: 0 0 5px #cccccc;
      margin: 22px 0;
      padding: 22px 11px; }
      #content > #sidebar2 > h2 {
        font-size: 100%;
        margin: 22px -11px;
        padding: 0 11px;
        border-bottom: 3px solid #42b535; }

  #header, #footer {
    background: #ddd;
    border-top: 8px solid #42b535;
    border-bottom: 8px solid #42b535;
    background: #dddddd url("./coscup-tile-bg-s.jpg") center center;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow: 0 0 5px #333333;
    -ms-box-shadow: 0 0 5px #333333;
    -o-box-shadow: 0 0 5px #333333;
    box-shadow: 0 0 5px #333333; }
    #header > .info, #footer > .info {
      background: rgba(255, 255, 255, 0.85);
      margin: 5px 0; }

  #header > .info {
    background: rgba(255, 255, 255, 0.85);
    margin: 5px 0;
    padding-top: 5px;
    padding-bottom: 33px; }
    #header > .info > h1 {
      margin: 10px 10px 5px 0;
      padding: 0;
      background: transparent url("coscup-140x48.png") center right no-repeat;
      float: left;
      width: 47%;
      height: 72px;
      overflow: visible; }
      #header > .info > h1 > a {
        display: block;
        width: 200%;
        height: 100%;
        position: relative;
        z-index: 4;
        text-indent: -10000%; }
    #header > .info > #date_place {
      margin: 5px;
      padding: 15px 0;
      color: #42b535;
      background-color: #fff;
      font-size: bold;
      -moz-transition: 0;
      -webkit-transition: 0;
      -ms-transition: 0;
      -o-transition: 0;
      transition: 0;
      min-height: 52px;
      font-size: 22px;
      line-height: 26px; }
      #header > .info > #date_place > #date, #header > .info > #date_place > #place {
        display: block;
        margin-left: 47%;
        width: 50%;
        white-space: nowrap;
        overflow: hidden; }
    #header > .info > #nav, #header > .info #language {
      clear: both;
      padding: 10px 20px; }
      #header > .info > #nav ul, #header > .info #language ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%; }
      #header > .info > #nav li > a, #header > .info #language li > a {
        display: block;
        padding: 6px 12px;
        border: 1px solid #ccc;
        margin-top: -1px;
        height: 24px;
        color: #000;
        text-decoration: none;
        font-size: 18px;
        line-height: 24px;
        white-space: nowrap;
        background-color: #eee; }
      #header > .info > #nav li li > a, #header > .info #language li li > a {
        background-color: #fff;
        text-indent: 10px; }
      #header > .info > #nav li.current > a, #header > .info #language li.current > a {
        background-color: #333;
        border-color: #333;
        color: #fff; }
    #header > .info > #nav > ul {
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px; }
      #header > .info > #nav > ul > li:first-child,
      #header > .info > #nav > ul > li:first-child > a {
        -moz-border-radius-topleft: 8px;
        -moz-border-radius-topright: 8px;
        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px; }
      #header > .info > #nav > ul > li:last-child,
      #header > .info > #nav > ul > li:last-child > a,
      #header > .info > #nav > ul > li:last-child > ul > li:last-child,
      #header > .info > #nav > ul > li:last-child > ul > li:last-child > a {
        -moz-border-radius-bottomleft: 8px;
        -moz-border-radius-bottomright: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px; }
      #header > .info > #nav > ul > li:last-child.current > a, #header > .info > #nav > ul > li:last-child.current-ancestor > a {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0; }
      #header > .info > #nav > ul > li:last-child.current > a:last-child, #header > .info > #nav > ul > li:last-child.current-ancestor > a:last-child {
        -moz-border-radius-bottomleft: 8px;
        -moz-border-radius-bottomright: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px; }
      #header > .info > #nav > ul > li > ul {
        display: none; }
      #header > .info > #nav > ul > li.current > ul, #header > .info > #nav > ul > li.current-ancestor > ul {
        display: block; }
    #header > .info > #mobileSponsorLogo {
      margin: 0 5px;
      padding: 5px 0;
      background-color: #fff;
      text-align: center;
      height: 72px; }
      #header > .info > #mobileSponsorLogo > a {
        display: block;
        width: 100%;
        height: 100%; }
        #header > .info > #mobileSponsorLogo > a > img {
          width: 178px;
          height: 72px; }
    #header > .info > #language {
      width: 240px;
      margin: 0 auto; }
      #header > .info > #language li > a {
        width: 72px;
        padding: 6px 0;
        font-size: 16px;
        line-height: 22px;
        height: 22px;
        float: left;
        text-align: center;
        background-color: #c7d7a0;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
        border: none;
        margin: 0 4px; }

  #footer > .info > p {
    margin: 0;
    padding: 5px; }
  #footer #archives {
    text-align: right; }
    #footer #archives a {
      color: #333;
      text-decoration: none; }
      #footer #archives a:hover {
        color: #000;
        text-decoration: underline; }

  #message, #mascot_icon, #connect_box, #sidebar, .hideInMobile, #title, #title_en, #tagline {
    display: none; } }
