@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Cabin:regular,bold);
a {
  color: #333;
  text-decoration: none; }
  a:hover {
    color: #666;
    text-decoration: underline; }

img {
  border: none; }

h1, h2, h3 {
  font-family: 'Cabin', arial, sans-serif; }

code {
  background-color: ghostWhite;
  color: #444;
  padding: 0px 0.2em;
  border: 1px solid #dedede; }

#content > ul.types > li:before {
  display: inline-block;
  margin-right: 6px; }
#content > ul.types > li:before,
#content table.program td:before {
  content: '';
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 6px; }
#content > ul.types > li.program_type_0:before,
#content table.program td.program_type_0:before {
  content: none; }
#content > ul.types > li.program_type_1:before,
#content table.program td.program_type_1:before {
  background-color: red; }
#content > ul.types > li.program_type_2:before,
#content table.program td.program_type_2:before {
  background-color: yellow; }
#content > ul.types > li.program_type_3:before,
#content table.program td.program_type_3:before {
  background-color: lime; }
#content > ul.types > li.program_type_4:before,
#content table.program td.program_type_4:before {
  background-color: aqua; }
#content > ul.types > li.program_type_5:before,
#content table.program td.program_type_5:before {
  background-color: blue; }
#content > ul.types > li.program_type_6:before,
#content table.program td.program_type_6:before {
  background-color: fuchsia; }
#content table.program td:before {
  margin: 0 0 6px 6px;
  display: block;
  float: right; }
#content table.program td.program_lang_en > p.name:before {
  background-color: #666;
  color: #fff;
  content: 'En'; }
#content table.program td.program_lang_zh > p.name:before {
  background-color: #fff;
  color: #000;
  content: '漢'; }
#content table.program td.program_break {
  text-align: center;
  padding: 1em 0; }
  #content table.program td.program_break:before {
    display: none; }
  #content table.program td.program_break > p.name {
    color: #666;
    margin: 0; }
    #content table.program td.program_break > p.name:before {
      display: none; }
#content table.program td > p.name:before {
  margin: 0 0 6px 6px;
  float: right;
  clear: right;
  font-size: 8px;
  line-height: 150%;
  width: 10px;
  height: 10px;
  border: 1px solid #333;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  text-align: center; }
#content table.program td > .info .meta {
  padding: 11px 0;
  margin: 0;
  display: block;
  color: #666;
  font-size: 82%; }
  #content table.program td > .info .meta > li {
    display: inline;
    list-style: none; }
    #content table.program td > .info .meta > li:not(:first-child):before {
      content: '．'; }

.sprite {
  display: block;
  background: transparent url("favicons.png?2") no-repeat;
  text-indent: -10000px;
  width: 16px;
  height: 16px; }

.coscup {
  background-position: 0 0;
  width: 16px;
  height: 16px; }

.newspaper {
  background-position: -18px 0;
  width: 16px;
  height: 16px; }

.twitter {
  background-position: -36px 0;
  width: 16px;
  height: 16px; }

.plurk {
  background-position: -54px 0;
  width: 16px;
  height: 16px; }

.facebook {
  background-position: -72px 0;
  width: 16px;
  height: 16px; }

.gcal {
  background-position: -90px 0;
  width: 16px;
  height: 16px; }

.flickr {
  background-position: -108px 0;
  width: 16px;
  height: 16px; }

.rss {
  background-position: -126px 0;
  width: 16px;
  height: 16px; }

.wordpress {
  background-position: -144px 0;
  width: 16px;
  height: 16px; }

@media print {
  body {
    font: 16px serif;
    line-height: 22px; }

  a {
    color: #000;
    text-decoration: underline; }

  #date_place,
  #nav,
  #mobileSponsorLogo,
  #language,
  #message,
  #mascot_icon,
  #connect_box,
  #sidebar,
  .hideInMobile,
  #tagline, #archives {
    display: none; }

  #header, #footer {
    font-family: 'Cabin', arial, sans-serif;
    border-top: 4px solid #42b535;
    border-bottom: 4px solid #42b535;
    padding: 0 5px; }

  #header > .info > h1 {
    display: inline-block;
    vertical-align: top;
    height: 44px;
    font-size: 200%;
    line-height: 44px;
    padding: 11px 0;
    margin: 0; }
    #header > .info > h1 > a {
      color: #42b535;
      text-decoration: none; }
  #header > .info > #title, #header > .info #title_en {
    display: inline-block;
    vertical-align: top;
    height: 22px;
    padding: 22px 0;
    margin: 0; }
    #header > .info > #title:before, #header > .info #title_en:before {
      content: '．'; }
  html[lang="zh-TW"] #header > .info > #title_en, html[lang="zh-CN"] #header > .info > #title_en, html[lang="en"] #header > .info > #title {
    display: none; }

  html[lang="zh-TW"] #content, html[lang="zh-CN"] #content {
    text-align: justify; }
  #content > iframe:first-child {
    margin-top: 22px; } }
@media screen {
  body {
    width: 1120px;
    -moz-transition: width 0.2s;
    -webkit-transition: width 0.2s;
    -ms-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s;
    margin: 0 auto;
    padding: 0;
    font: 16px sans-serif;
    line-height: 22px;
    background: #f8f8f8; }

  #header, #footer {
    width: 1110px;
    margin-left: 5px;
    margin-right: 5px;
    -moz-transition: width 0.2s;
    -webkit-transition: width 0.2s;
    -ms-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s;
    font-family: 'Cabin', arial, sans-serif;
    background: #dddddd url("./coscup-tile-bg.jpg") center center no-repeat;
    border-top: 8px solid #42b535;
    border-bottom: 8px solid #42b535;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow: 0 0 5px #333333;
    -ms-box-shadow: 0 0 5px #333333;
    -o-box-shadow: 0 0 5px #333333;
    box-shadow: 0 0 5px #333333;
    position: relative;
    overflow: hidden; }
    #header > .info, #footer > .info {
      position: absolute;
      background: #f0f0f0;
      background: rgba(255, 255, 255, 0.85);
      width: 100%; }
      #header > .info > h1, #header > .info p, #footer > .info > h1, #footer > .info p {
        margin: 0;
        padding: 0; }

  #header {
    height: 225px; }
    #header > .info {
      top: 15px;
      height: 195px; }
      #header > .info > h1 {
        position: absolute;
        left: 35px;
        top: 17px;
        width: 280px;
        height: 161px;
        background: rgba(255, 255, 255, 0.75); }
        #header > .info > h1 > a {
          position: absolute;
          top: 5px;
          left: 5px;
          width: 270px;
          height: 107.115px;
          background: transparent url("coscup.png") center center no-repeat;
          background-size: cover;
          text-indent: -10000px; }
      #header > .info > #title {
        position: absolute;
        top: 117.115px;
        left: 40px;
        font-size: 110%;
        line-height: 140%;
        font-weight: bold;
        width: 306.4px;
        text-align: center;
        letter-spacing: 36.4px;
        white-space: nowrap; }
      #header > .info > #title_en {
        position: absolute;
        top: 139.115px;
        left: 40px;
        width: 270px;
        text-align: justify;
        color: #666; }
      #header > .info > #date_place {
        position: absolute;
        left: 360px;
        bottom: 17px;
        font-weight: bold;
        font-size: 180%;
        line-height: 125%;
        width: 710px;
        -moz-transition: width 0.2s;
        -webkit-transition: width 0.2s;
        -ms-transition: width 0.2s;
        -o-transition: width 0.2s;
        transition: width 0.2s;
        height: 36px;
        white-space: nowrap;
        color: #42b535; }
        #header > .info > #date_place > #date:after {
          content: " :: "; }
      #header > .info > #language, #header > .info > #nav {
        position: absolute;
        top: 17px; }
        #header > .info > #language a, #header > .info > #nav a {
          text-decoration: none;
          display: block;
          overflow: visible;
          white-space: nowrap;
          width: 69px;
          margin: 0 5px; }
        #header > .info > #language > ul, #header > .info > #nav > ul {
          margin: 0;
          padding: 0;
          list-style: none; }
          #header > .info > #language > ul > li, #header > .info > #nav > ul > li {
            float: left;
            text-align: center;
            height: 22px;
            border-right: 1px dashed #999;
            border-right: 1px dashed rgba(0, 0, 0, 0.3); }
            #header > .info > #language > ul > li:last-child, #header > .info > #nav > ul > li:last-child {
              border-right: none; }
      #header > .info > #nav {
        left: 355px;
        width: 600px;
        z-index: 3; }
        #header > .info > #nav a {
          color: #333;
          font-weight: bold;
          -moz-transition: background 0.2s ease-out, color 0.2s ease-out;
          -webkit-transition: background 0.2s ease-out, color 0.2s ease-out;
          -ms-transition: background 0.2s ease-out, color 0.2s ease-out;
          -o-transition: background 0.2s ease-out, color 0.2s ease-out;
          transition: background 0.2s ease-out, color 0.2s ease-out; }
          #header > .info > #nav a:hover {
            text-decoration: underline; }
          html[lang="en"] #header > .info > #nav a {
            font-size: 92%; }
        #header > .info > #nav li.current-ancestor > a, #header > .info > #nav li.current > a {
          font-weight: bold;
          text-decoration: underline; }
        #header > .info > #nav li > ul {
          display: none; }
        #header > .info > #nav li:hover, #header > .info > #nav li.selected {
          width: 79px;
          overflow: visible; }
          #header > .info > #nav li:hover a, #header > .info > #nav li.selected a {
            color: #fff;
            background: #999;
            background: rgba(0, 0, 0, 0.65);
            -moz-transition: background 0.2s ease-in, color 0.2s ease-in;
            -webkit-transition: background 0.2s ease-in, color 0.2s ease-in;
            -ms-transition: background 0.2s ease-in, color 0.2s ease-in;
            -o-transition: background 0.2s ease-in, color 0.2s ease-in;
            transition: background 0.2s ease-in, color 0.2s ease-in; }
          #header > .info > #nav li:hover > ul, #header > .info > #nav li.selected > ul {
            display: block;
            opacity: 1;
            width: 160px;
            left: 0;
            margin: 0 5px;
            padding: 0; }
            #header > .info > #nav li:hover > ul > li, #header > .info > #nav li.selected > ul > li {
              list-style: none;
              float: left;
              background: #999;
              background: rgba(0, 0, 0, 0.65);
              margin: 0;
              border-top: 1px solid #fff;
              border-right: 1px solid #fff;
              width: auto; }
              #header > .info > #nav li:hover > ul > li > a, #header > .info > #nav li.selected > ul > li > a {
                color: #ddd;
                font-weight: normal;
                display: inline;
                background: none; }
                #header > .info > #nav li:hover > ul > li > a:hover, #header > .info > #nav li.selected > ul > li > a:hover {
                  color: #fff; }
      #header > .info > #language {
        right: 35px; }
        #header > .info > #language a {
          color: #666;
          background: #c7d7a0;
          background: rgba(199, 215, 160, 0.5);
          font-size: 85%;
          width: 70px;
          -moz-border-radius: 8px;
          -webkit-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          border-radius: 8px;
          -moz-transition: background 0.2s ease-out;
          -webkit-transition: background 0.2s ease-out;
          -ms-transition: background 0.2s ease-out;
          -o-transition: background 0.2s ease-out;
          transition: background 0.2s ease-out;
          word-wrap: break-word;
          white-space: normal;
          overflow: hidden;
          width: 20px;
          height: 22px;
          padding: 0 4px; }
          #header > .info > #language a:hover {
            background: #c7d7a0;
            background: rgba(199, 215, 160, 0.8);
            -moz-transition: background 0.2s ease-in;
            -webkit-transition: background 0.2s ease-in;
            -ms-transition: background 0.2s ease-in;
            -o-transition: background 0.2s ease-in;
            transition: background 0.2s ease-in; }
        #header > .info > #language li {
          border-right: none !important;
          padding-right: 2px; }
          #header > .info > #language li:last-child {
            padding-right: 0; }
      #header > .info > #mobileSponsorLogo {
        display: none; }
      #header > .info > #message {
        position: absolute;
        left: 360px;
        top: 55px;
        width: 605px;
        -moz-transition: width 0.2s, font-size 0.2s;
        -webkit-transition: width 0.2s, font-size 0.2s;
        -ms-transition: width 0.2s, font-size 0.2s;
        -o-transition: width 0.2s, font-size 0.2s;
        transition: width 0.2s, font-size 0.2s;
        height: 33px;
        font-size: 130%;
        white-space: nowrap;
        line-height: 125%;
        padding: 21.5px 22px;
        background: #c7d7a0;
        background: rgba(199, 215, 160, 0.5);
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
        color: #666; }
        #header > .info > #message:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          top: 50%;
          margin-top: -11px;
          right: -22px;
          width: 0;
          height: 0;
          border: 11px solid transparent;
          border-left: 11px solid rgba(199, 215, 160, 0.5); }
        #header > .info > #message em {
          font-size: 115%;
          font-weight: bold;
          font-style: normal;
          color: #000; }
      #header > .info #mascot_icon {
        position: absolute;
        right: 40px;
        width: 50px;
        height: 60.843px;
        background: transparent url("coscup-mascot-icon.png");
        background-size: cover;
        top: 93px;
        margin-top: -30.422px;
        text-indent: -10000px;
        -moz-transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg); }
      #header > .info > #connect_box {
        position: absolute;
        bottom: 17px;
        right: 40px;
        height: 16px;
        width: 144px; }
        #header > .info > #connect_box ul {
          margin: 0;
          padding: 0;
          list-style: none; }
          #header > .info > #connect_box ul > li {
            float: left;
            margin-left: 8px;
            width: 16px;
            height: 16px; }

  #footer {
    height: 75px;
    clear: both; }
    #footer > .info {
      top: 15px;
      height: 45px;
      color: #333;
      font-size: 85%; }
      #footer > .info > #copyright, #footer > .info > #tagline, #footer > .info > #archives {
        position: absolute;
        top: 11.5px;
        width: 310px; }
      #footer > .info > #copyright {
        left: 40px; }
      #footer > .info > #tagline {
        left: 400px;
        width: 310px;
        -moz-transition: width 0.2s, left 0.2s;
        -webkit-transition: width 0.2s, left 0.2s;
        -ms-transition: width 0.2s, left 0.2s;
        -o-transition: width 0.2s, left 0.2s;
        transition: width 0.2s, left 0.2s;
        text-align: center; }
        #footer > .info > #tagline > .heart {
          color: violet; }
      #footer > .info > #archives {
        right: 40px;
        text-align: right; }
        #footer > .info > #archives a {
          color: #333;
          text-decoration: none; }
          #footer > .info > #archives a:hover {
            color: #000;
            text-decoration: underline; }

  #sidebar {
    float: right;
    margin-bottom: 22px;
    width: 230px;
    margin-left: 5px;
    margin-right: 5px;
    -moz-transition: width 0.2s;
    -webkit-transition: width 0.2s;
    -ms-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s;
    font-family: 'Cabin', arial, sans-serif;
    background-color: #fff;
    -moz-box-shadow: 0 0 5px #cccccc;
    -webkit-box-shadow: 0 0 5px #cccccc;
    -ms-box-shadow: 0 0 5px #cccccc;
    -o-box-shadow: 0 0 5px #cccccc;
    box-shadow: 0 0 5px #cccccc; }
    body.no_sidebar > #sidebar {
      display: none; }
    #sidebar .sponsors > h2, #sidebar .sponsors-after > h2 {
      font-size: 100%;
      padding: 0 11px;
      text-align: center;
      border-bottom: 3px solid #42b535;
      background-color: #c7d7a0;
      margin: 0;
      padding-top: 11px; }
    #sidebar .sponsors > ul, #sidebar .sponsors-after > ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      #sidebar .sponsors > ul > li, #sidebar .sponsors-after > ul > li {
        margin: 0;
        border-bottom: 3px solid #c7d7a0; }
        #sidebar .sponsors > ul > li > a, #sidebar .sponsors-after > ul > li > a {
          display: block;
          width: 178px;
          padding: 9px 26px;
          -moz-transition: padding 0.2s;
          -webkit-transition: padding 0.2s;
          -ms-transition: padding 0.2s;
          -o-transition: padding 0.2s;
          transition: padding 0.2s;
          height: 72px; }
          #sidebar .sponsors > ul > li > a > img, #sidebar .sponsors-after > ul > li > a > img {
            border: none;
            display: block;
            width: 178px;
            height: 72px; }
    #sidebar .sponsors > p, #sidebar .sponsors-after > p {
      margin: 22px 11px;
      font-size: 85%; }

  #content {
    float: left;
    padding-top: 5px;
    width: 870px;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 50%;
    -moz-transition: width 0.2s;
    -webkit-transition: width 0.2s;
    -ms-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s; }
    #content a {
      color: #000;
      text-decoration: underline; }
      #content a:hover {
        color: #333; }
    body.no_sidebar > #content {
      width: 1110px;
      margin-left: 5px;
      margin-right: 5px; }
    #content pre {
      width: 100%;
      overflow: auto;
      background-color: #f0f0f0; }
    #content .alignleft {
      float: left;
      display: block;
      width: 310px;
      margin-right: 10px; }
    #content .alignright {
      float: right;
      display: block;
      width: 310px;
      margin-left: 10px; }
    #content .aligncenter {
      margin: 0 auto;
      display: block;
      width: 310px; }
    #content .fullwidth {
      width: 100%;
      display: block; }
    html[lang="zh-TW"] #content, html[lang="zh-CN"] #content {
      text-align: justify; }
    #content:before {
      position: absolute;
      top: -1px;
      height: 1px;
      content: '';
      background: rgba(255, 255, 255, 0.8) url("./loading.gif") center center no-repeat; }
    #content.loading {
      position: relative; }
      #content.loading > * {
        opacity: 0.3; }
      #content.loading:before {
        opacity: 1;
        top: 40px;
        left: 50%;
        z-index: 2;
        width: 60px;
        height: 60px;
        margin-left: -30px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; }
    #content > iframe:first-child {
      margin-top: 22px; }
    #content > #sidebar2 {
      float: right;
      margin-top: -5px;
      background-color: #c7d7a0;
      -moz-box-shadow: 0 0 5px #cccccc;
      -webkit-box-shadow: 0 0 5px #cccccc;
      -ms-box-shadow: 0 0 5px #cccccc;
      -o-box-shadow: 0 0 5px #cccccc;
      box-shadow: 0 0 5px #cccccc;
      width: 288px;
      margin-left: 10px;
      padding: 22px 11px; }
      #content > #sidebar2 h2 {
        font-size: 100%;
        margin: 22px -11px;
        padding: 0 11px;
        border-bottom: 3px solid #42b535; }
      #content > #sidebar2 > .intro {
        margin: 0;
        padding: 11px;
        background-color: #42b535;
        color: #fff; }
        html[lang="zh-TW"] #content > #sidebar2 > .intro, html[lang="zh-CN"] #content > #sidebar2 > .intro {
          text-align: justify; }
        #content > #sidebar2 > .intro > p {
          margin: 0;
          padding: 0; }
        #content > #sidebar2 > .intro > .more > a {
          color: #ddd; }
      #content > #sidebar2 > .images {
        height: 249px;
        margin: 0 -8px 0 0; }
        #content > #sidebar2 > .images > a {
          display: block;
          float: left;
          margin: 0 8px 8px 0;
          padding: 0;
          overflow: hidden;
          width: 66px;
          height: 75px; }
          #content > #sidebar2 > .images > a > img {
            border: none; }
      #content > #sidebar2 > #ipv6block {
        min-height: 103px;
        position: relative;
        display: none; }
        #content > #sidebar2 > #ipv6block.show {
          display: block; }
        #content > #sidebar2 > #ipv6block > p {
          padding-right: 84px; }
        #content > #sidebar2 > #ipv6block:after {
          content: '';
          position: absolute;
          display: block;
          width: 74px;
          height: 103px;
          background: transparent url("ipv6day-logo.png") center right no-repeat;
          right: 0;
          bottom: 0;
          -moz-box-shadow: 0 0 5px #333333;
          -webkit-box-shadow: 0 0 5px #333333;
          -ms-box-shadow: 0 0 5px #333333;
          -o-box-shadow: 0 0 5px #333333;
          box-shadow: 0 0 5px #333333;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
          border-radius: 3px; }
      #content > #sidebar2 > .socialbuzz > ul {
        margin: 0;
        padding: 0 0 0 1em;
        text-align: left;
        font-size: 14px;
        line-height: 18px; }
        #content > #sidebar2 > .socialbuzz > ul > li {
          list-style: square;
          padding-bottom: 6px; }
        #content > #sidebar2 > .socialbuzz > ul .meta {
          display: block;
          text-align: right; }
          #content > #sidebar2 > .socialbuzz > ul .meta a {
            text-decoration: none; }
            #content > #sidebar2 > .socialbuzz > ul .meta a:hover {
              text-decoration: underline; }
      #content > #sidebar2 .more {
        clear: both;
        padding: 0;
        margin: 0;
        text-align: right;
        font-size: 92%; }
        #content > #sidebar2 .more a {
          text-decoration: none; }
          #content > #sidebar2 .more a:hover {
            text-decoration: underline; }
    #content > ul.shortcuts {
      display: none; }
    #content > ul.types {
      margin: 0 -6px 0 0;
      padding: 0; }
      #content > ul.types > li {
        display: inline-block;
        width: 27%;
        margin: 6px 6px 6px 0; }
    #content > div.program.expend {
      overflow: auto;
      position: relative;
      -moz-box-shadow: 0 0 5px #cccccc;
      -webkit-box-shadow: 0 0 5px #cccccc;
      -ms-box-shadow: 0 0 5px #cccccc;
      -o-box-shadow: 0 0 5px #cccccc;
      box-shadow: 0 0 5px #cccccc; }
      #content > div.program.expend:last-child {
        margin-bottom: 2em; }
      #content > div.program.expend > table.program {
        margin: 0;
        width: 200%; }
        #content > div.program.expend > table.program td {
          width: 32%; }
          #content > div.program.expend > table.program td > .info {
            display: block;
            padding: 0 10px; }
            #content > div.program.expend > table.program td > .info > :not(:first-child) {
              border-top: 1px dashed #d0d0d0; }
        #content > div.program.expend > table.program td.program_room_0 {
          width: auto;
          padding-left: 32%;
          padding-right: 32%; }
        #content > div.program.expend > table.program > tbody th.translate,
        #content > div.program.expend > table.program > thead th:first-child.translate {
          background-color: rgba(199, 215, 160, 0.9); }
        #content > div.program.expend > table.program > tbody th:after {
          border-bottom: 1px solid #fff; }
    #content table.program {
      width: 100%;
      border-collapse: collapse; }
      #content table.program th, #content table.program td {
        vertical-align: top;
        text-align: left;
        border: 1px solid #ccc;
        padding: 0.5em 0; }
      #content table.program th {
        font-weight: bold; }
      #content table.program > thead th {
        text-align: center;
        background-color: #c7d7a0;
        border-bottom: 3px solid #42b535;
        font-size: 120%;
        border-right: 1px solid #fff; }
        #content table.program > thead th:first-child {
          border-right: 3px solid #42b535;
          -moz-transition: -moz-transform 0.2s;
          -webkit-transition: -webkit-transform 0.2s;
          -ms-transition: -ms-transform 0.2s;
          -o-transition: -o-transform 0.2s; }
        #content table.program > thead th:last-child {
          border-right: 1px solid #c7d7a0; }
      #content table.program > tbody th {
        padding: 0.5em 10px;
        background-color: #c7d7a0;
        font-weight: normal;
        white-space: nowrap;
        border-right: 3px solid #42b535;
        border-bottom: 1px solid #fff;
        -moz-transition: -moz-transform 0.2s;
        -webkit-transition: -webkit-transform 0.2s;
        -ms-transition: -ms-transform 0.2s;
        -o-transition: -o-transform 0.2s; }
        #content table.program > tbody th > span {
          font-weight: bold;
          font-size: 120%;
          display: block; }
      #content table.program > tbody > tr:last-child > th {
        border-bottom: 1px solid #c7d7a0; }
      #content table.program td {
        width: 30%; }
        #content table.program td.program_room_0:not(.program_break) {
          padding-left: 29%;
          width: auto; }
        #content table.program td > p {
          padding: 0 10px; }
          #content table.program td > p.name {
            font-weight: bold;
            margin: 0 0 0.5em 0; }
          #content table.program td > p.room {
            display: none; }
          #content table.program td > p.speaker, #content table.program td > p.speakerTitle {
            margin: 0;
            color: #484848; }
        #content table.program td > .info {
          display: none; }
        #content table.program td:before {
          margin-right: 10px; }
      #content table.program:last-child {
        margin-bottom: 2em; }
    #content > .sponsors > h2 {
      clear: both; }
    #content > .sponsors > h3 {
      clear: both;
      margin: 0.5em 0 0 0;
      padding: 10px 10px 0 10px;
      background-color: #fff;
      border-left: 10px solid #ccc;
      font-size: 1.4em; }
      #content > .sponsors > h3 img {
        float: left;
        margin: 0 10px 10px 0; }
    #content > .sponsors > .sponsor_content {
      margin: 0;
      padding: 10px;
      background-color: #fff;
      border-left: 10px solid #ccc; } }
        @media screen and (-webkit-min-device-pixel-ratio: 2) {
          #header > .info > h1 > a {
            background: transparent url("coscup.svg") center center no-repeat; } }
@media screen and (min-width: 481px) and (max-width: 1180px) {
  body {
    width: 1000px; }

  #header, #footer {
    width: 990px;
    margin-left: 5px;
    margin-right: 5px; }

  #header > .info > #nav {
    width: 480px; }
  #header > .info > #date_place {
    width: 590px; }
  #header > .info > #message {
    width: 485px;
    font-size: 100%;
    height: 26.4px;
    padding: 24.8px 22px; }

  #footer > .info > #tagline {
    left: 320px;
    width: 350px; }

  #sidebar {
    width: 190px;
    margin-left: 5px;
    margin-right: 5px; }
    #sidebar .sponsors > ul > li > a {
      padding: 9px 6px; }

  #content {
    width: 790px;
    margin-left: 5px;
    margin-right: 5px; }
    body.no_sidebar > #content {
      width: 990px;
      margin-left: 5px;
      margin-right: 5px; } }
